:root {
  --def-padding: 7px;
  --bg-home: rgb(238, 236, 236);
  /* --bg-home-hover-color: rgb(232, 232, 232); */
  --bg-header: rgb(227, 227, 227);
  --header-shadow: 0 1px rgb(0 0 0/ 0.1);
  --footer-shadow: 0 -1px rgb(0 0 0/ 0.1);
  --sidebar-shadow: 1px 0 5px 2px rgb(0 0 0/ 0.1);
  --def-shadow: 0 0 5px rgb(0 0 0/ 0.1);
  --nav-link-color: rgb(57, 57, 177);
  --nav-link-hover-color: rgb(2, 2, 190);
  --tr-duration: 0.25s;
  --btn-shadow: 0 0 10px rgb(0 0 0/0.2);
  --main-wrapper-margin: 4rem;
  --small-color: rgb(89, 89, 89);
  --def-border-radius: 5px;
  --type-radius: 15px;
  --def-border-color: gray;
  --input-border-color: rgb(72, 72, 72);
  --color-danger: rgb(216, 3, 3);
  --color-danger-hover: rgb(208, 0, 0);
  --color-income: rgba(22, 147, 22);
  --color-expenses: rgb(233 74 74 / 1);
  --th-color: rgb(219, 219, 219);
  --th-hover-color: rgb(210, 210, 210);
  --type-opacity: 80%;
  --page-btn-color: rgb(193, 193, 193);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-geist-sans);
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: var(--def-border-radius);
  padding: var(--def-padding);
}

li {
  list-style: none;
}

textarea {
  font-family: inherit;
  padding: var(--def-padding);
  resize: none;
  background-color: inherit;
}

input {
  padding: var(--def-padding);
  font-family: inherit;
  background-color: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

small {
  display: block;
  color: var(--small-color);
}

@media screen and (max-width: 600px) {
  :root {
    --main-wrapper-margin: 1rem;
  }
}
